html, body, div, span, h1, h2, h3, h4, h5, h6, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	font-family:"Courier New", Courier, monospace;	
}

/******** Change these to change navbar colors ********/
:root {
	--nav-background-color:rgba(80,80,120,1);
	--nav-color: rgb(170,170,200);
	--form-background: rgba(190,211,244,.3);
	--form-border: rgb(100,100,120); /*#779;*/
	--page-background: rgb(198, 203, 204);
	--dullred: rgb(175,100,100);
}

body {
	background-color:var(--page-background);
	width:100%;
	height:100%;
	font-family:"Courier New", Courier, monospace;
}

/* Navbar color */
.navbar, .navbar-dark .navbar-brand, .nav-link, .nav-item.dropdown > .dropdown-menu > .dropdown-item,
.nav-item.dropdown > .dropdown-menu {
	font-weight: bold; 
	background: var(--nav-background-color); 
	color: var(--nav-color); 
}
.navbar-toggler { background: var(--dullred); }

/* Reverse colors */
#navbar-art > ul > li > a:hover,
.nav-item.dropdown.show > a, .navbar-dark .navbar-brand:hover, .nav-link:hover,
.nav-item.dropdown > .dropdown-menu.show > .dropdown-item:hover {
	background: var(--nav-color); 
	color: var(--nav-background-color); 
}

.navbar-dark .navbar-brand, .nav-link, .nav-link.active { border-radius: 5px; }

#navbar-art > ul > li.active > a {
	color:var(--nav-background-color);
	background-color:var(--nav-color);
	border-radius:1em;
}
/* End Navbar Changes */

#foot {
	position:fixed;
	color:rgba(100,100,150,.8);
	right:10px;
	font-size:14pt;
	bottom:5px;
}

.current-show-img { max-width: 400px; width:100%;/* height: 366px;*/ border-radius:2em; /*border: 1em solid rgb(100,200,200); */ padding:1em;}
.show-title { font-size: 2em; font-weight: bold; background-color: rgba(200,80,80,.1); border: 4px solid rgba(150,150,250,.3); border-radius: 3em;}

#contactHeading {
	/*margin:1em 0 0 25%;	*/
	color: #557;
}

#contactForm, #success {
	padding-top:15px;
	padding-bottom:15px;
	background-color: var(--form-background);
	border:.5em solid var(--form-border);
	border-radius:1em;
	width:100%;
}

.center-it { text-align:center; }

.align-bottom-left { 
	text-align: left !important; 
	display: inline-block !important;
	vertical-align: bottom !important; 
	float: none !important; 
 }

.thumbnail { width: 15em; margin:auto; }

.errorText {
	color:#39d;
}

.full {width:100%; }

.spacer-row { height: 2rem; }
.img-row { margin-bottom: 6rem; }
.image-fluid {
	border-radius:.25em;
	max-width: 100%;
	height: auto;
}

.art-label { 
	margin-top: 1rem !important; 
	text-align: center;
}

/* Larger Screens */
@media only screen and (min-width: 992px) {
	.art-label {
		text-align: left;
	}
}

.text, .cv-text{
	color:var(--nav-background-color);
}

.strike { text-decoration: line-through; }

.cv-headers>p:hover, .press-links:hover { 
	background:var(--nav-background-color); 
	color:var(--nav-color); 
	border-radius: .1em;
	text-decoration:none;
}

.cv-headers>p { display:inline-block; font-weight:bold;}

.imgButtons {
	position:relative;
	height:4em;
	border-radius:1em;
	border:.5em solid rgba(100,100,150,.8);
	background-color:#ddd;
}

.bold-with-color { 
	font-weight:bold;
	color: var(--nav-background-color);
}
.form-group { margin-bottom: .5rem; }

#expenses-table>tbody>tr>th,#expenses-table>tbody>tr>td { padding-right: .5em; }
#expenses-table>tbody>tr>th { background-color:var(--nav-color); text-align: center; }
/*.expense-file-inputs { width: 25px; }*/
button, .form-group > input, .form-group > input:focus, .form-group > textarea, #toTop, select, .showPeeps, .showSales, input {
	background-color: var(--nav-background-color);
	color: var(--nav-color);
	border:.1em solid var(--nav-background-color);
	border-radius:.2em;
	font-weight:bold;
	text-decoration:none;
}
	
::placeholder { color: rgba(250,200,200,.8); font-size:small; font-style:italic; font-weight: 100; }

/** As Not Seen Only **/
.decision-buttons { 
	background-color: #44f; 
	color: #fc3; 
	
	border: 2px dotted #f00;
}

#winner-msg, #help-me-thru {
	left: 5%;
	width:90%;
	top:calc(25%);
	position: absolute;
	background-color: #77f;
	color: #aee;
	border: 3em solid #557;
	border-radius: 20em;
	padding: 2em;
	font-weight: bold;
	text-align:center;
}

.sale-text { font-weight: bold; }
[id^="item-text"] { font-size: 1.5em; color: #488; background-color: rgba(200, 200, 50, .9); }
[id^="value-text"] { font-size: 5em; color: #f00; text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black; }

#balance-amt { color: #0ff; font-size:1.2em; font-weight: bold; border: 3px dotted #00a; padding: 0 10px; }
#balance-bar, #rules {  background-color: #f44; text-align: center; }
#rules-text { background-color:#fc3; color:#00a; font-weight:bold; }
/** end As Not Seen Only **/

.show-titles {
	padding-left: .2em;
	padding-right: .2em;
	border-radius:.1em;
	text-align:center;
	font-weight:bold;
	color: var(--nav-background-color);
	border:.1em solid var(--nav-background-color);	
}
.press-links {	
	font-weight: bold;
	color: var(--nav-background-color);
}

div.row.store-row>div>form>table>tbody>tr>td { 
	text-align: center; 
	font-weight: bold;
	color: var(--nav-background-color);
}
input[type="image"] { background:none; border:none; }
#store-mix-pack-imgs>img { display:block; float:left; }

div.row.store-row>div>form>table {width:100%;}

#store-heading {
	font-weight:bold;
	background-color: rgb(202, 224, 235);
	border-radius: .25em;
	color:#a03030;
	border: .25em solid teal;
}

.press-links:visited,a:visited{text-decoration:none;}

input[type="submit"]:hover, button:hover, #toTop:hover {
	background-color: var(--nav-color);
	color: var(--nav-background-color);
	text-decoration:none;
}

input[type="text"]:disabled{
    border: none;
	background-color: #ddd;
	color: #eea9b9;
}

div[id^="colors-col"] { 
	width: calc(100% / 12); 
	height:100%; 
	border-radius:100%; 
	border: 2em solid var(--page-background);/* #fff;*/
	/* border-top: 1.5em solid var(--page-background); /* #3ca;*/
	/*animation: spin 2s linear infinite;*/
}

#cent-pourcent {
	margin-top:.1em;
	background-color: #baa;
}

#pourcentage {
	text-align: center;
	width: 0%;
	height: 30px;
	background-color: #4CAF50;  
	color:rgb(224, 230, 191);
}

#pourcentage-chiffre {
	/*height: 100%;*/
	margin-top:.2em;
	color:rgb(200, 234, 243);
}

.loader {
	border: 16px solid #9af1dc;
	border-top: 16px solid #3477db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
	margin:0 auto;
}

.loader:hover {
	animation-play-state: paused;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  } 

select:disabled {
	background: solid black;
}

::-webkit-scrollbar {
	width:10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(248, 60, 85);
}