html, body, div, span, h1, h2, h3, h4, h5, h6, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	font-family:"Courier New", Courier, monospace;	
}

/******** Change these to change navbar colors ********/
:root {
	--nav-background-color:rgba(80,80,120,1);
	--nav-color: rgb(170,170,200);
	--form-background: rgba(190,211,244,.3);
	--form-border: rgb(100,100,120); /*#779;*/
	--page-background: rgb(206, 173, 153);
}

body {
	background-color:var(--page-background);
	width:100%;
	height:100%;
	font-family:"Courier New", Courier, monospace;
}

/* Navbar Changes */
.navbar { border:none; border-radius:0; }

.navbar-default,
.navbar-default .navbar-nav .open .dropdown-toggle,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
	background-color: var(--nav-background-color);
}

/* toggle button */
#tbut {
	background-color: var(--nav-color);
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-right li.navbar-text,
.navbar-default .navbar-nav .dropdown-toggle,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-toggle,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
	color:var(--nav-color);
}

/*.navbar-default .navbar-header:hover, */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav .dropdown-toggle:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-toggle:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color:var(--nav-background-color);
	background-color:var(--nav-color);
	border-radius:5em;
}

#navbar-art > ul > li.active > a {
	color:var(--nav-background-color);
	background-color:var(--nav-color);
	border-radius:1em;
}

/* End Navbar Changes */

@media screen and (min-width: 480px) {
	.side-cols { background-color: rgba(180,180,230,.2); }
}

.side-cols {
	z-index: -15;
	position:fixed;
	background-color: rgba(180,180,230,0);
	height: 100%;
}

#right-col { right:0; }
#left-col { left:0; }

/*
#top {
	position:fixed;
	z-index:2;
	vertical-align:middle;
	width: 100%;
	background-color: #ccc;
	text-align:center;
	font-size:2.5em;
	padding: .3em 0 .3em 0;
	color:rgba(100,100,150,.8);
	top:0;
}
*/
#foot {
	position:fixed;
	color:rgba(100,100,150,.8);
	right:10px;
	font-size:14pt;
	bottom:5px;
}

.current-show-img { max-width: 400px; width:100%;/* height: 366px;*/ border-radius:2em; /*border: 1em solid rgb(100,200,200); */ padding:1em;}
.show-title { font-size: 2em; font-weight: bold; background-color: rgba(200,80,80,.1); border: 4px solid rgba(150,150,250,.3); border-radius: 3em;}

/*
.col-left   { margin: 0 1em 0 0; }
.col-middle { margin: 0 1em 0 1em; }
.col-right  { margin: 0 0 0 1em; }
*/

#contactHeading {
	/*margin:1em 0 0 25%;	*/
	color: #557;
}


#contactForm, #success {
/*	position:fixed;
	width:50%;
	margin-left:10%;
	margin-top:1em;*/
	padding-top:15px;
	padding-bottom:15px;
	background-color: var(--form-background);
	border:.5em solid var(--form-border);
	border-radius:1em;
	width:100%;
}

.center-it { text-align:center; }

.thumbnail { width: 15em; display:inline; }

.errorText {
	color:#39d;
}

#homeImg {
	float:right;
	width:50%;
	margin-right:25%;
	margin-top:1em;	
}

.container {
	
	-align: center;
}

.full {width:100%; }

.imgs {
	width:50%;
	margin-top:1.5em;
	text-align:center;
}

.img-responsive {
	border-radius:.5em;
}

/****** MODALS Begin *******/
div[id^="modal-img"] { background-color:#777; padding:2.5em 3em 2.5em 3em;}
div[id^="modal-img"].modal { max-width:55%; }
.arrows { 
	position: absolute;	
	top:0;
	height: 100%;
	width:40%;
	background-color: rgba(0,0,0,0); 
	/*border: 2px solid var(--nav-background-color); */
}
.arrows:hover, .real-arrows:hover { 
	text-decoration:none; 
	color: #77f;
}
.arrows:hover { background-color: rgba(0, 0, 0, 0.08); }
/*#real-arrow-left:hover, #real-arrow-right:hover { color: #77f }*/
.real-arrows { 
	top: 50%; 
	color: rgba(30,30,70,.2); 
}
#real-arrow-left { position:absolute; left:1em; }
#real-arrow-right { position:absolute; right:1em; }

a[id^="left-arrow"] { left:0; }
a[id^="right-arrow"] { right:0; }

.toggle-left-right { position:absolute; width:10px; height:10px; background-color:#ffffff; }
.modal { overflow: visible; }
/****** MODALS End *******/

.text, .cv-text{
	position:relative;
	margin:0em 1em 0em 1em ;
	color:var(--nav-background-color);
}

.text { text-align:center; }

.imgButtons {
	position:relative;
	height:4em;
	border-radius:1em;
	border:.5em solid rgba(100,100,150,.8);
	background-color:#ddd;
}

td { 
	font-weight:bold;
	color: var(--nav-background-color);
}

#expenses-table>tbody>tr>th,#expenses-table>tbody>tr>td { padding-right: .5em; }
#expenses-table>tbody>tr>th { background-color:var(--nav-color); text-align: center; }
/*.expense-file-inputs { width: 25px; }*/
input[type="submit"], button, td input, td textarea, #toTop, select, .showPeeps, .showSales, .press-links, input {
	background-color: var(--nav-background-color);
	color: var(--nav-color);
	border:.1em solid var(--nav-background-color);
	border-radius:.2em;
	font-weight:bold;
	text-decoration:none;
}
	
::placeholder { color: rgba(250,200,200,.8); font-size:small; font-style:italic; font-weight: 100; }

/** As Not Seen Only **/
.decision-buttons { 
	background-color: #44f; 
	color: #fc3; 
	
	border: 2px dotted #f00;
}

#winner-msg {
	top: 25%;
	text-align: center;
	position: absolute;
	background-color: #ff0;
	color: #f33;
	border: 5em solid #f0f;
	border-radius: 20em;
	padding: 3em;
	font-weight: bold;
	text-align: center;
}

.sale-text { font-weight: bold; }
[id^="item-text"] { font-size: 1.5em; color: #488; background-color: rgba(200, 200, 50, .9); }
[id^="value-text"] { font-size: 5em; color: #f00; text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black; }

#balance-amt { color: #0ff; font-size:1.2em; font-weight: bold; border: 3px dotted #00a; padding: 0 10px; }
#balance-bar, #rules {  background-color: #f44; text-align: center; }
#rules-text { background-color:#fc3; color:#00a; font-weight:bold; }
/** end As Not Seen Only **/

input[type="submit"]:hover, button:hover, #toTop:hover, .press-links:hover {
	background-color: var(--nav-color);
	color: var(--nav-background-color);
	text-decoration:none;
}

input[type="text"]:disabled{
    border: none;
	background-color: #ddd;
	color: #eea9b9;
}

select:disabled {
	background: solid black;
}

/*
#nextImg {
	top:35%;
}

#prevImg {
	bottom:35%;
}
*/
::-webkit-scrollbar {
	width:6px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

/* Price Status Tip */
.priceTagText {
    visibility: hidden;
    width: 4em;
    background-color: var(--nav-background-color);
    color: var(--nav-color);
    border-radius: .2em;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top:-110%;
    left: 110%;
}

.priceTag:hover .priceTagText {
    visibility: visible;
}